.swiper{
    /* width = 100vw; */
    height : 100vh;
}

.swiper-slide img {
    height: 40vh;
    margin-bottom: 40px;
}

.swiper-slide{
    display : flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.ion-grid{
    display : flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}